.weather-location {
    border: 4px solid red;
    flex-grow: 2;
    display: flex;
  }
  
  .weather-location .weather-data {
    border: 4px solid #0066aa;
    width: 60%;
    align-self: flex-end;
  }
  
  .weather-location .weather-data-icon {
    padding: 8px;
  }
  
  .weather-location .weather-data-temperature {
    padding: 8px;
    display: flex;
    align-items: center;  
  }

  .weather-location .weather-data-extra {
    padding: 8px;
    display: flex;
    align-items: center;  
  }