/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
body {
    margin: 0;
    padding: 0;
}

.app {
    /* border: 4px solid green;  */
    height: 100vh;
}

.nav-bar-top {
    /* border: 4px solid cyan;
    text-align: center;
    height: 50px; */
}

.app-container {
    flex-grow: 2;
}